header.header {
    height: 530px;
    background: url('../../assets/header.jpg') no-repeat center center / cover;
    nav {
        display: flex;
        justify-content: flex-end;
        padding: 20px 40px;
        .btn-login {
            cursor: pointer;
            background: none;
            border: none;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
        .logo {
            width: 270px;
            margin: 20px 0;
        }
        .header-one {
            font-size: 22px;
            font-weight: bold;
        }
        .header-two {
            font-size: 18px;
            margin: 25px;
        }
    }
}
