header.header {
    height: 530px;
    background: url('../../assets/header.jpg') no-repeat center center / cover;
    nav {
        display: flex;
        justify-content: flex-end;
    }
    .logo {
        width: 270px;
        margin: 20px 0;
    }
}
