.live-sports {
    background: url('../../assets/live-sports.jpg') no-repeat center center / cover;
    height: 800px;
    position: relative;
    > .content {
        position: absolute;
        top: 160px;
        left: 100px;
        max-width: 550px;
        .logos {
            width: 300px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            > div {
                background: url('../../assets/network-logo-bg.png') no-repeat center center / cover;
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 40px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        background: url('../../assets/live-sports-small.jpg') no-repeat center center / cover;
        > .content {
            top: 30px;
            left: 30px;
        }
    }
}
