@media (max-width: 768px) {
    header.header {
        .header-content {
            text-align: center;
            padding: 0 20px;
            .logo {
                width: 200px;
            }
        }
    }
    .text-xl {
        line-height: 1.3;
        font-size: 40px;
    }
    .sub-text {
        font-size: 20px;
    }
}
