@media (max-width: 768px) {
    header.header {
        .header-content {
            text-align: center;
            padding: 0 20px;
            .logo {
                width: 200px;
            }
        }
        
    }
}
